// RWD 布局断点
// 设计的正常桌面版体验太宽... 那就在 1366px 断掉好了
// 这是在 Firefox 响应式设计视图试验的结果
$narrow-breakpoint: 1366px;

$narrow: new-breakpoint(max-width $narrow-breakpoint 4);

// pyScss bug
$narrow: max-width $narrow-breakpoint;

$desktop: min-width $narrow-breakpoint + 1px;


// grid 布局调试设置
$visual-grid: false;
$visual-grid-color: #000;
$visual-grid-opacity: 0.05;
$visual-grid-index: front;


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
