// 导航
@mixin navbar-element($include-float: true) {
  @if $include-float {
    float: left;
  }

  padding: 0.5em 1em;
  line-height: 2em;
}

.navbar-fixed-top {
  @include clearfix;

  width: 100%;

  background-color: $nav-bg;
  color: $nav-fg;
}

.navbar-brand {
  @include navbar-element;
}

.navbar-brand__inner {
  // 不要影响父元素的 em-based 布局...
  font-size: 1.5em;
  line-height: 1;
  vertical-align: baseline;  // 默认值; 为了可读性
}

.navbar-toggle {
  @include media($desktop) {
    display: none;
  }
}

.navbar-nav {
  whitespace: nowrap;

  font-weight: 400;

  > li {
    float: left;

    > a {
      @include navbar-element(false);
      display: inline-block;

      &:hover {
        background-color: rgba(0, 0, 0, $alpha-divider);
      }
    }
  }
}

.dropdown {
  position: relative;

  .dropdown-menu {
    display: none;
  }

  &.open > .dropdown-menu {
    display: block;
  }
}

.dropdown-toggle {
  &:after {
    @include fa-inplace($fa-var-caret-down);
    padding-left: 0.2em;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 10em;

  background-color: #fafafa;
  color: $text-color;
  box-shadow: 0 0.5em 1em rgba(#000, $alpha-hint);

  // 解决首页上奇怪的失去焦点问题
  z-index: 1000;

  > li > a {
    display: block;

    padding: 0.5em 1em;

    &:hover {
      background-color: rgba(0, 0, 0, $alpha-divider);
    }
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
