// 日程页面
// 布局
.schedule__metadata,
.schedule__table-container,
.schedule__notices {
  @include outer-container;

  padding: 2em 0;
}


// 元数据
.schedule__metadata__key,
.schedule__metadata__value {
  font-size: 125%;
  line-height: 2;
}

.schedule__metadata__key {
  text-align: right;

  @include media($wide) {
    @include span-columns(2);
    @include shift(2);
  }

  @include media($narrow) {
    @include span-columns(2);
  }

  @include media($mobile) {
    @include span-columns(1);
  }
}

.schedule__metadata__value {
  font-weight: normal;

  @include media($wide) {
    @include span-columns(6);
    @include omega;

    border-bottom: 1px solid rgba(#000, $alpha-divider);
  }

  @include media($narrow) {
    @include span-columns(4);
    @include omega;
  }

  @include media($mobile) {
    @include span-columns(3);
    @include omega;
  }
}

// 地址
.schedule__metadata__value--address {
  @extend .schedule__metadata__value;
}

// 会场
.schedule__metadata__value--venue {
  @extend .schedule__metadata__value;
}

// 交通
.schedule__metadata__value--traffic {
  @extend .schedule__metadata__value;
}

// 日期时间
.schedule__metadata__value--date {
  @extend .schedule__metadata__value;

  // 原设计有强调, 照搬过来
  font-weight: bold;
}


// 议程表格
.schedule__session {
  padding: 0.5em 0;

  border-bottom: 1px solid rgba(#000, $alpha-secondary);

  font-size: 125%;
  text-align: center;
}

.schedule__topic {
  > td {
    padding: 0.5em 0;
  }

  border-bottom: 1px solid rgba(#000, $alpha-divider);

  &:hover {
    border-bottom-color: transparent;
    box-shadow: 0 0.5em 1em rgba(#000, $alpha-hint);
  }
}

@include media($non-mobile) {
  .schedule__topic__time {
    @include display-context(table) {
      @include span-columns(1);
    }

    text-align: center;
  }

  .schedule__topic__title {
    @include display-context(table) {
      @include span-columns(3);
    }

    font-weight: bold;
  }

  .schedule__topic__speaker {
    @include display-context(table) {
      @include span-columns(2);
    }

    text-align: center;
  }
}

@include media($mobile) {
  .schedule__table,
  .schedule__session,
  .schedule__session__name,
  .schedule__topic,
  .schedule__topic__event,
  .schedule__topic__time,
  .schedule__topic__title,
  .schedule__topic__speaker,
  .schedule__topic__preview {
    display: block;
  }

  .schedule__topic {
    @include clearfix;

    padding: 0 1em;
  }

  .schedule__topic__time,
  .schedule__topic__speaker,
  .schedule__topic__title,
  .schedule__topic__event {
    text-align: center;
  }

  .schedule__topic__time,
  .schedule__topic__title {
    @include span-columns(4);

    font-weight: bold;
  }

  .schedule__topic__speaker {
    @include span-columns(4);
  }

  .schedule__topic__preview {
    @include span-columns(4);
  }
}


// vim:set ai et ts=2 sw=2 sts=2 fenc=utf-8:
