

img.sponsor-gold, img.sponsor-silver, img.sponsor-bronze {
    max-height: 60px;
    max-width: 200px;
    padding: 5px;
}

.proposal {
    margin-top: 0px;
    padding: 10px
}
.proposal img{
    width: 80px;
    height: 80px;
}

.volunteer img{
    width: 80px;
    height: 80px;
}