{% extends "base/_base.html" %}
{% set page_title = message.page_title_index %}

{% block content %}

<!-- big title -->
<section class="page__module mod-title">
<img alt="Logo of PyCon China 2014" src="http://zoomq.qiniudn.com/CPyUG/PyCon2014China/design/PyCon2013CHIna_logo_w200-h150.png"  class="center-block img-responsive pycon-logo"/>
<h1 class="section__title--index">{{ message.home_title }}</h1>
<div class="section__content">{{ message.home_intro }}</div>
</section>

<!-- sponsors -->
<section class="page__module mod-sponsors">
<h2 class="section__title">{{ message.home_sponsors }}</h2>
{% if sponsors %}
    {# render logic #}
    {% set diamond_sponsors = sponsors | selectattr('level_diamond') %}
    {% set platinum_sponsors = sponsors | selectattr('level_platinum') %}
    {% set gold_sponsors = sponsors | selectattr('level_gold') %}
    {% set silver_sponsors = sponsors | selectattr('level_silver') %}
    {% set bronze_sponsors = sponsors | selectattr('level_bronze') %}
    {% set partner_sponsors = sponsors | selectattr('level_partner') %}
    {% macro simple_sponsors_list(some_sponsors, sponsor_level, sponsor_level_id) %}
    <section class="mod-sponsors__subsec--{{ sponsor_level_id }}">
        <h3 class="mod-sponsors__level">{{ sponsor_level }}</h3>
        <div class="mod-sponsors__content">
            {% for sponsor in some_sponsors %}
            <a href="{{ sponsor.link }}" class="sponsor__link">
                <img src="{{ sponsor.logo }}" alt="" class="sponsor__img sponsor-{{ sponsor.level }}"/>
            </a>
            {% endfor %}
        </div>
    </section>
    {% endmacro %}
    {# presentation #}
    {{ simple_sponsors_list(diamond_sponsors, message.sponsors_diamond, 'diamond') }}
    {{ simple_sponsors_list(platinum_sponsors, message.sponsors_platinum, 'platinum') }}
    {{ simple_sponsors_list(gold_sponsors, message.sponsors_gold, 'gold') }}
    {{ simple_sponsors_list(silver_sponsors, message.sponsors_silver, 'silver') }}
    {{ simple_sponsors_list(bronze_sponsors, message.sponsors_bronze, 'bronze') }}
    {{ simple_sponsors_list(partner_sponsors, message.sponsors_partner, 'partner') }}
{% endif %}
</section>

<!-- proposals -->
{% if speakers %}
    {# render logic #}
    {% set global_proposals = selectspeakers(speakers, 'global') %}
    {% set beijing_proposals = selectspeakers(speakers, 'beijing') %}
    {% set shanghai_proposals = selectspeakers(speakers, 'shanghai')%}
    {% set zhuhai_proposals = selectspeakers(speakers, 'zhuhai') %}
    {% set hangzhou_proposals = selectspeakers(speakers, 'hangzhou') %}
    {% set suzhou_proposals = selectspeakers(speakers, 'suzhou') %}
    {% macro proposal_list(some_proposals, city_name) -%}
    <section class="mod-speakers__city">
    <h3 class="mod-speakers__city__name">{{ city_name }}</h3>
    <div class="mod-speakers__content">
        {% for proposal in some_proposals %}
            <div class="speaker">
                <a href="javascript:;" class="speaker__avatar-link">
                    <img src="{{ proposal.avatar }}" alt="{{ proposal.name }}"
                        class="speaker__avatar" />
                </a>
                <div class="speaker__desc">
                    <h4 class="speaker__name">{{ proposal.name }} </h4>
                    <p class="speaker__intro">{{ proposal.intro }} </p>
                </div>
            </div>
        {% endfor %}
    </div>
    </section>
    {%- endmacro %}
    {# presentation #}
    <section class="page__module mod-speakers">
    <h2 class="section__title">{{ message.speechmaker }}</h2>
    {{ proposal_list(global_proposals, message.global) }}
    {{ proposal_list(beijing_proposals, message.beijing) }}
    {{ proposal_list(shanghai_proposals, message.shanghai) }}
    {{ proposal_list(zhuhai_proposals, message.zhuhai) }}
    {{ proposal_list(hangzhou_proposals, message.hangzhou) }}
    {{ proposal_list(suzhou_proposals, message.suzhou) }}
    </section>
{% endif %}

<!-- donators -->
<section class="page__module mod-donators">
<h2 class="section__title">{{ message.donators }}</h2>
<div class="section__content">
<span class="mod-donators__orderby">{{ message.donators_orderby }}</span>
{% if donators %}
    <div class="mod-donators__container">
    <ol class="mod-donators__list">
        {% for donator in donators %}
        <li class="mod-donators__person">{{ donator }}</li>
        {% endfor %}
    </ol>
    </div>
{% endif %}
</div>
</section>

{% endblock %}
