{% set page_title="PyCon China 2014" %}
{% extends "base/_base.html" %}

{% block content %}

<!-- infomation -->
<p><img alt="" src="http://zoomq.qiniudn.com/CPyUG/PyCon2014China/design/PyCon2013CHIna_logo_w200-h150.png" /></p>
<h1 id="pycon2014china-is-coming">PyCon2014China is Coming!</h1>
<p>PyCon, the party of world-wide pythoneers!
Authorized by <strong><a href="http://PyCon.org">PyCon.org</a></strong> of <a href="https://www.python.org/psf/about/">Pyton Sofware Foundation</a>,
this is the fourth year of <code>PyConChina</code>.
It is organized by CPyUG/GDG/TopGeek,
and held simultaneously in <strong>Shanghai/Beijing/Zhuhai/Shenzhen</strong>!</p>
<h2 id="sponsors">Sponsors</h2>
<p><code>Wanted..</code></p>
<ul>
<li>Sponsorship Proposal, download:<a href="http://pyconcn.qiniudn.com/zoomquiet/res/PyCon2014China-SponsorshipProposal-v140727.pdf">PyCon2014China-SponsorshipProposal-v140727.pdf</a></li>
<li>We have added proposal for personal sponorship this year, download:<a href="http://pyconcn.qiniudn.com/zoomquiet/res/PyCon2014China-PersonSponsor-v140711.pdf">PyCon2014China-PersonSponsor-v140711.pdf</a></li>
</ul>

<!-- sponsors -->
{% if sponsors %}
    <div class="clearfix"></div>
    <div class="">
    {# defination #}
    {% set diamond_sponsors = sponsors | selectattr('level_diamond') %}
    {% set platinum_sponsors = sponsors | selectattr('level_platinum') %}
    {% set gold_sponsors = sponsors | selectattr('level_gold') %}
    {% set silver_sponsors = sponsors | selectattr('level_silver') %}
    {% set bronze_sponsors = sponsors | selectattr('level_bronze') %}
    {% macro simple_sponsors_list(some_sponsors) %}
        <p>
            {% for sponsor in some_sponsors %}
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.logo }}" alt="" class="sponsor-{{ sponsor.level }}"/>
            </a>
            {% endfor %}
        </p>
    {% endmacro %}
    <h3>Diamond</h3>
    {{ simple_sponsors_list(diamond_sponsors) }}
    <h3>Platinum</h3>
    {{ simple_sponsors_list(platinum_sponsors) }}
    <h3>Gold</h3>
    {{ simple_sponsors_list(gold_sponsors) }}
    <h3>Silver</h3>
    {{ simple_sponsors_list(silver_sponsors) }}
    <h3>Bronze</h3>
    {{ simple_sponsors_list(bronze_sponsors) }}
    </div>
{% endif %}

<!-- proposals -->
{% if proposals %}
    <div class="clearfix"></div>
    <div class="">
    {# defination #}
    {% set beijing_proposals = proposals | selectattr('city_beijing') %}
    {% set shanghai_proposals = proposals | selectattr('city_shanghai') %}
    {% set zhuhai_proposals = proposals | selectattr('city_zhuhai') %}
    {% macro proposal_list(some_proposals) %}
    {% for row in some_proposals | batch(2) %}
        <div class="">
            {% for proposal in row %}
            <div class="col-md-6 show-grid proposal-card">
                <img src="{{ proposal.avatar }}" alt="{{ proposal.name }}" class="img-rounded pull-left"/>
                <p>{{ proposal.name }} </p>
                <p>{{ proposal.intro}} </p>
            </div>
            {% endfor%}
        </div>
        <div class="clearfix"></div>
    {% endfor%}
    {% endmacro %}
    {# presentation #}
    <h3>Beijing</h3>
    {{ proposal_list(beijing_proposals) }}
    <h3>Shanghai</h3>
    {{ proposal_list(shanghai_proposals) }}
    <h3>Zhuhai</h3>
    {{ proposal_list(zhuhai_proposals) }}
    </div>
{% endif%}


<!-- donators -->
<div class="clearfix"></div>
<h2>Personal Sponsorship</h2>
<p>(sorted by time of sponsorship)</p>
{% if donators %}
    <table class="table table-bordered">
    <tbody>
    {% for row in donators | batch(5, fill_with=' ') %}
      <tr>
      {% for donator in row %}
        <td>{{ donator }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{% endblock %}
