{% extends "base/_base.html" %}
{% set titles = { "cn" : "首页", "en" : "Home" } %}
{% set page_title = titles[lang] %}

{% block content %}

<!-- infomation -->
<p><img alt="" src="http://zoomq.qiniudn.com/CPyUG/PyCon2014China/design/PyCon2013CHIna_logo_w200-h150.png"  class="center-block img-responsive"/></p>
<h1 id="pycon2014china">{{ message.home_title }}</h1>
<p>{{ message.home_intro }}</p>
<h2 id="_1">{{ message.home_sponsors }}</h2>
<p>{{ message.home_sponsors_wanted }}</p>
{{ message.home_sponsors_hint }}
<!-- sponsors -->
{% if sponsors %}
    <div class="clearfix"></div>
    <div class="">
    {# defination #}
    {% set diamond_sponsors = sponsors | selectattr('level_diamond') %}
    {% set platinum_sponsors = sponsors | selectattr('level_platinum') %}
    {% set gold_sponsors = sponsors | selectattr('level_gold') %}
    {% set silver_sponsors = sponsors | selectattr('level_silver') %}
    {% set bronze_sponsors = sponsors | selectattr('level_bronze') %}
    {% macro simple_sponsors_list(some_sponsors, sponsor_level) %}
        <h3>{{ sponsor_level }}</h3>
        <p>
            {% for sponsor in some_sponsors %}
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.logo }}" alt="" class="sponsor-{{ sponsor.level }}"/>
            </a>
            {% endfor %}
        </p>
    {% endmacro %}
    {{ simple_sponsors_list(diamond_sponsors, message.sponsors_diamond) }}
    {{ simple_sponsors_list(platinum_sponsors, message.sponsors_platinum) }}
    {{ simple_sponsors_list(gold_sponsors, message.sponsors_gold) }}
    {{ simple_sponsors_list(silver_sponsors, message.sponsors_silver) }}
    {{ simple_sponsors_list(bronze_sponsors, message.sponsors_bronze) }}
    </div>
{% endif %}

<!-- proposals -->
{% if proposals %}
    <div class="clearfix"></div>
    <div class="">
    {# defination #}
    {% set global_proposals = proposals | selectattr('city_global') %}
    {% set beijing_proposals = proposals | selectattr('city_beijing') %}
    {% set shanghai_proposals = proposals | selectattr('city_shanghai') %}
    {% set zhuhai_proposals = proposals | selectattr('city_zhuhai') %}
    {% macro proposal_list(some_proposals) %}
    <div class="row">
        {% for proposal in some_proposals %}
            <div class="col-xs-12 col-sm-6 media proposal">
                <a href="javascript:;" class="pull-left">
                    <img src="{{ proposal.avatar }}" alt="{{ proposal.name }}"
                        class="media-object img-circle"/>
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ proposal.name }} </h4>
                    <p>{{ proposal.intro }} </p>
                </div>
            </div>
            {% if loop.index is divisibleby(2) or loop.last %}
                <div class="clearfix hidden-xs-block hidden-phone"></div>
            {% endif %}
        {% endfor%}
    </div>
    {% endmacro %}
    {# presentation #}
    <h3>{{ message.global }}</h3>
    {{ proposal_list(global_proposals) }}
    <h3>{{ message.beijing }}</h3>
    {{ proposal_list(beijing_proposals) }}
    <h3>{{ message.shanghai }}</h3>
    {{ proposal_list(shanghai_proposals) }}
    <h3>{{ message.zhuhai }}</h3>
    {{ proposal_list(zhuhai_proposals) }}

    </div>

{% endif%}

<!-- donators -->
<div class="clearfix"></div>
<h2>{{ message.donators }}</h2>
<p>{{ message.donators_orderby }}</p>
{% if donators %}
    <div class="table-responsive">
        <table class="table table-bordered">
        <tbody>
        {% for row in donators | batch(5, fill_with=' ') %}
          <tr>
          {% for donator in row %}
            <td>{{ donator }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}
