{% extends "base/_base.html" %}
{% set page_title = message.page_title_shanghai %}

{% block content %}
{% if agenda.shanghai %}
    {% set schedule = agenda.shanghai %}
    {% set schedule_title = page_title %}
    {% include "base/_schedule.html" %}
    <section class="page__module">
    <h2 class="section__title" id="video-and-slides">{{ message.video_and_slides }}</h2>
    <div class="schedule__notices">
        <ul>
        <li><strong><a href="http://pan.baidu.com/s/1ClKD4" target="_blank">PPT下载</a></strong></li>
        <li><strong><a href="http://boolan.com/club/14" target="_blank">视频回放</a></strong></li>
        </ul>
    </div>
    </section>
{% endif %}
{% endblock %}
