{% extends "base/_base.html" %}
{% set page_title = message.page_title_sponsors %}

{% block content %}

<h1 class="section__title--subpage-header">{{ message.sponsors }}</h1>
<p class="sponsorpage__text">{{ message.sponsors_hint }}</p>

{% if sponsors %}
    {# render logic #}
    {% set diamond_sponsors = sponsors | selectattr('level_diamond') %}
    {% set platinum_sponsors = sponsors | selectattr('level_platinum') %}
    {% set gold_sponsors = sponsors | selectattr('level_gold') %}
    {% set silver_sponsors = sponsors | selectattr('level_silver') %}
    {% set bronze_sponsors = sponsors | selectattr('level_bronze') %}
    {% set partner_sponsors = sponsors | selectattr('level_partner') %}
    {% macro sponsors_list(some_sponsors, sponsors_level, sponsors_level_id) %}
        <section class="page__module">
        <h2 class="sponsorpage__level sponsorpage__level--{{ sponsors_level_id }}">{{ sponsors_level }}</h2>
        <div class="sponsorpage__list">
            {% for sponsor in some_sponsors %}
            <article class="sponsorpage__item">
            <a href="{{ sponsor.link }}" class="sponsorpage__item__logo-link">
                <img src="{{ sponsor.logo }}" alt="" class="sponsor-{{ sponsor.level }} sponsorpage__item__logo"/>
            </a>
            <p class="sponsorpage__item__desc">{{ sponsor.intro }}<p>
            </article>
            {% endfor %}
        </div>
    {% endmacro %}
    {{ sponsors_list(diamond_sponsors, message.sponsors_diamond, 'diamond') }}
    {{ sponsors_list(platinum_sponsors, message.sponsors_platinum, 'platinum') }}
    {{ sponsors_list(gold_sponsors, message.sponsors_gold, 'gold') }}
    {{ sponsors_list(silver_sponsors, message.sponsors_silver, 'silver') }}
    {{ sponsors_list(bronze_sponsors, message.sponsors_bronze, 'bronze') }}
    {{ sponsors_list(partner_sponsors, message.sponsors_partner, 'partner') }}
{% endif %}

{% endblock %}
