{% extends "base/_base.html" %}
{% set page_title = message.page_title_sponsors %}

{% block content %}

<h1>{{ message.sponsors }}</h1>
<p>{{ message.sponsors_hint }}</p>

{% if sponsors %}
    <div class="row">
    {# defination #}
    {% set diamond_sponsors = sponsors | selectattr('level_diamond') %}
    {% set platinum_sponsors = sponsors | selectattr('level_platinum') %}
    {% set gold_sponsors = sponsors | selectattr('level_gold') %}
    {% set silver_sponsors = sponsors | selectattr('level_silver') %}
    {% set bronze_sponsors = sponsors | selectattr('level_bronze') %}
    {% macro sponsors_list(some_sponsors, sponsors_level) %}
        <div class="">
            <h3>{{ sponsors_level }}</h3>
            {% for sponsor in some_sponsors %}
            <a href="{{ sponsor.link }}">
                <img src="{{ sponsor.logo }}" alt="" class="sponsor-{{ sponsor.level }} img-responsive"/>
            </a>
            <p>{{ sponsor.intro }}<p>
            {% endfor %}
        </div>
    {% endmacro %}
    {{ sponsors_list(diamond_sponsors, message.sponsors_diamond) }}
    {{ sponsors_list(platinum_sponsors, message.sponsors_platinum) }}
    {{ sponsors_list(gold_sponsors, message.sponsors_gold) }}
    {{ sponsors_list(silver_sponsors, message.sponsors_silver) }}
    {{ sponsors_list(bronze_sponsors, message.sponsors_bronze) }}
    </div>
{% endif %}

{% endblock %}
