{% extends "base/_base.html" %}
{% set page_title = message.page_title_volunteers %}

{% block content %}

{% if volunteers %}
    {# defination #}
    {% set organizer_volunteers = volunteers | selectattr("role_organizer") %}
    {% set technician_volunteers = volunteers | selectattr("role_technician") %}
    {% set conference_volunteers = volunteers | selectattr("role_conference") %}
    {% macro volunteer_link(name, link) %}
        {% if link %}
        <p>{{ name }}:<a href="{{ link }}">{{ link }}</a></p>
        {% endif %}
    {% endmacro %}
    {% macro volunteer_list(some_volunteers) %}
        {% for volunteer in some_volunteers %}
            <div class="col-xs-12 col-sm-6 media volunteer">
                <a href="javascript:;" class="pull-left">
                    <img src="{{ volunteer.avatar }}" alt="{{ volunteer.name }}"
                        class="media-object img-rounded"/>
                </a>
                <div class="media-body">
                    <h3 class="media-heading">{{ volunteer.name }} </h3>
                    <p>{{ volunteer.intro }}</p>
                    {{ volunteer_link("github", volunteer.github) }}
                    {{ volunteer_link("weibo", volunteer.weibo) }}
                    {{ volunteer_link("blog", volunteer.blog) }}
                </div>
            </div>
            {% if loop.index is divisibleby(2) or loop.last %}
                <div class="clearfix hidden-xs-block"></div>
            {% endif %}
        {% endfor %}
    {% endmacro %}
    {# presentation #}
    <h1>{{ message.volunteers }}</h1>
    <p>{{ message.pythoneer }}</p>
    <h2>{{ message.organizers }}</h2>
    {{ volunteer_list(organizer_volunteers) }}
    <h2>{{ message.technicians }}</h2>
    {{ volunteer_list(technician_volunteers) }}
    <h2>{{ message.conference }}</h2>
    {{ volunteer_list(conference_volunteers) }}
{% endif %}

{% endblock %}
