{% extends "base/_base.html" %}
{% set page_title = message.page_title_volunteers %}

{% block content %}

{% if volunteers %}
    {# render logic #}
    {% set organizer_volunteers = volunteers | selectattr("role_organizer") %}
    {% set technician_volunteers = volunteers | selectattr("role_technician") %}
    {% set conference_volunteers = volunteers | selectattr("role_conference") %}
    {% macro volunteer_link(name, link) %}
        {% if link %}
		<a href="{{ link }}" class="volunteers__link--{{ name }}">{{ link }}</a>
        {% endif %}
    {% endmacro %}
    {% macro volunteer_list(some_volunteers) %}
        <div class="volunteers__list">
        {% for volunteer in some_volunteers %}
            <div class="person">
                <a href="javascript:;" class="person__avatar-link">
                    <img src="{{ volunteer.avatar }}" alt="{{ volunteer.name }}"
                        class="person__avatar"/>
                </a>
                <div class="person__desc">
                    <h3 class="person__name">{{ volunteer.name }} </h3>
                    <p class="person__intro">
					{{ volunteer.intro }}
                    {{ volunteer_link("github", volunteer.github) }}
                    {{ volunteer_link("weibo", volunteer.weibo) }}
                    {{ volunteer_link("blog", volunteer.blog) }}
					</p>
                </div>
            </div>
        {% endfor %}
        </div>
    {% endmacro %}
    {# presentation #}
    <h1 class="section__title--subpage-header">{{ message.volunteers }}</h1>
    <section class="volunteers__text">
        <p class="volunteers__pythoneer">{{ message.pythoneer }}</p>
    </section>
    <section class="page__module">
    <h2 class="section__title">{{ message.organizers }}</h2>
    {{ volunteer_list(organizer_volunteers) }}
    </section>
    <section class="page__module">
    <h2 class="section__title">{{ message.technicians }}</h2>
    {{ volunteer_list(technician_volunteers) }}
    </section>
    <section class="page__module">
    <h2 class="section__title">{{ message.conference }}</h2>
    {{ volunteer_list(conference_volunteers) }}
    </section>
{% endif %}

{% endblock %}
