{% extends "base/_base.html" %}
{% set titles = { "cn" : "志愿", "en" : "Volunteers" } %}
{% set page_title = titles[lang] %}

{% block content %}

<script src='https://jinshuju.net/f/v7N6kL/embedded.js?banner=show&height=1516'></script>

{% if volunteers %}
    {# defination #}
    {% set organizer_volunteers = volunteers | selectattr("role_organizer") %}
    {% set technician_volunteers = volunteers | selectattr("role_technician") %}
    {% macro volunteer_link(name, link) %}
        {% if link %}
        <p>{{ name }}:<a href="{{ link }}">{{ link }}</a></p>
        {% endif %}
    {% endmacro %}
    {% macro volunteer_list(some_volunteers) %}
        {% for volunteer in some_volunteers %}
            <div>
               <img src="{{ volunteer.avatar }}">
               <span><strong>{{ volunteer.name }}</strong></span>
               <p>{{ volunteer.intro }}</p>
               {{ volunteer_link("github", volunteer.github) }}
               {{ volunteer_link("weibo", volunteer.weibo) }}
               {{ volunteer_link("blog", volunteer.blog) }}
            </div>
        {% endfor %}
    {% endmacro %}
    {# presentation #}
    <h1>{{ message.volunteers }}</h1>
    <h2>{{ message.organizers }}</h2>
    {{ volunteer_list(organizer_volunteers) }}
    <h2>{{ message.technicians }}</h2>
    {{ volunteer_list(technician_volunteers) }}
{% endif %}

{% endblock %}