{% macro nav_a(nav_item) %}
  {% if nav_item.url_external %}
    <a href="{{ nav_item.url }}">{{ nav_item.title }}</a>
  {% else %}
    <a href="{{ site.base_url }}/{{ nav_item.url }}">{{ nav_item.title }}</a>
  {% endif %}
{% endmacro %}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- Expander button -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>

      <!-- Main title -->
      <a class="navbar-brand" href="{{ site.home_url }}"><span class="navbar-brand__inner">{{ site.name }}</span></a>
    </div>

    <!-- Expanded navigation -->
    <div class="navbar-collapse collapse">
      <!-- Main navigation -->
      <ul class="nav navbar-nav">
      {% for nav_item in nav %}
      {% if nav_item.children %}
        <li class="dropdown{% if nav_item.active %} active{% endif %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ nav_item.title }}</a>
          <ul class="dropdown-menu">
          {% for nav_item in nav_item.children %}
            <li {% if nav_item.active %}class="active"{% endif %}>
              {{ nav_a(nav_item) }}
            </li>
          {% endfor %}
          </ul>
        </li>
      {% else %}
        <li {% if nav_item.active %}class="active"{% endif %}>
          {{ nav_a(nav_item) }}
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
