
{% macro speech_tr(speech) %}
    <tr>
    <td>{{ speech.time or "" }} </td>
    {% if speech.speaker %}
    <td>{{ speech.topic or "" }} </td>
    <td>{{ speech.speaker or "" }} </td>
    <td>{{ speech.preview or "" }} </td>
    {% else %}
    <td colspan="3">{{ speech.topic or "" }} </td>
    {% endif %}
    </tr>
{% endmacro %}

{% macro title_tr(title) %}
    <tr>
    <td colspan="4" class="text-center success">{{ title }}</td>
    </tr>
{% endmacro %}

{% if schedule %}
    <h2>{{ message.traffic }}</h2>
    <div>
        <p>{{ message.address }}: {{ schedule.address }}</p>
        <p>{{ message.venue }}: {{ schedule.venue }}</p>
        <p>{{ message.traffic }}: {{ schedule.traffic }}</p>
    </div>
    <h2>{{ message.schedule }}</h2>
    <table class="table table-bordered text-center">
        <tbody>
            {{ title_tr(message.morning) }}
            {% for speech in schedule.am %} {{ speech_tr(speech) }} {% endfor %}
            {{ title_tr(message.noon) }}
            {% for speech in schedule.noon %} {{ speech_tr(speech) }} {% endfor %}
            {{ title_tr(message.afternoon) }}
            {% for speech in schedule.pm %} {{ speech_tr(speech) }} {% endfor %}
            {{ title_tr(message.lighting_talks) }}
            {% for speech in schedule.lt %} {{ speech_tr(speech) }} {% endfor %}
        </tbody>
    </table>
    <h2>{{ message.notices }}</h2>
    <div>
        <p>{{ schedule.notices or "" }}</p>
    </div>
{% endif %}