
{% macro speech_tr(speech) %}
    <tr>
    <td>{{ speech.time or "" }} </td>
    {% if speech.speaker %}
    <td style="width:30%;"><strong>{{ speech.topic or "" }}</strong></td>
    <td style="width:5em;">{{ speech.speaker or "" }} </td>
    <td class="text-left">{{ speech.preview or "" }} </td>
    {% else %}
    <td colspan="3">{{ speech.topic or "" }} </td>
    {% endif %}
    </tr>
{% endmacro %}

{% macro speech_trs(speeches, a_title) %}
{% if speeches %}
    <tr>
        <td colspan="4" class="text-center success">{{ a_title }}</td>
    </tr>
    {% for speech in speeches %}
        {{ speech_tr(speech) }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% if schedule %}
    <h1>{{ schedule_title }}</h1>
    <h2>{{ message.traffic }}</h2>
    <div>
        <p>{{ message.address }}: {{ schedule.address }}</p>
        <p>{{ message.venue }}: {{ schedule.venue }}</p>
        <p>{{ message.traffic }}: {{ schedule.traffic }}</p>
        <p>{{ message.date }}: <b>{{ schedule.date }}</b></p>
    </div>
    <h2>{{ message.schedule }}</h2>
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <tbody>
                {{ speech_trs(schedule.am, message.morning) }}
                {{ speech_trs(schedule.noon, message.noon) }}
                {{ speech_trs(schedule.pm, message.afternoon) }}
                {{ speech_trs(schedule.lt, message.lighting_talks) }}
            </tbody>
        </table>
    </div>
    <h2>{{ message.notices }}</h2>
    <div>
        <p>{{ schedule.notices or "" }}</p>
    </div>
{% endif %}