{% macro speech_tr(speech) %}
    <tr class="schedule__topic">
    <td class="schedule__topic__time">{{ speech.time or "" }} </td>
    {% if speech.speaker %}
        {% set a_speaker = speakers[speech.speaker] %}
        {% if a_speaker and a_speaker.topic %}
            <td class="schedule__topic__title">{{ a_speaker.topic.title or "" }}</td>
            <td class="schedule__topic__speaker">{{ a_speaker.name or "" }} </td>
            <td class="schedule__topic__preview">{{ a_speaker.topic.preview or "" }} </td>
        {% else %}
            {{- printlog("invalid speaker:" + speech.speaker) -}}
        {% endif %}
    {% else %}
    <td colspan="3" class="schedule__topic__event">{{ speech.topic or "" }} </td>
    {% endif %}
    </tr>
{% endmacro %}

{% macro speech_trs(speeches, a_title) %}
{% if speeches %}
    <tr class="schedule__session">
        <td colspan="4" class="schedule__session__name">{{ a_title }}</td>
    </tr>
    {% for speech in speeches %}
        {{ speech_tr(speech) }}
    {% endfor %}
{% endif %}
{% endmacro %}

{% if schedule %}
    <h1 class="section__title--subpage-header">{{ schedule_title }}</h1>
    <section class="page__module">
    <h2 class="section__title">{{ message.traffic }}</h2>
    <dl class="schedule__metadata">
        <dt class="schedule__metadata__key">{{ message.address }}</dt><dd class="schedule__metadata__value--address">{{ schedule.address }}</dd>
        <dt class="schedule__metadata__key">{{ message.venue }}</dt><dd class="schedule__metadata__value--venue">{{ schedule.venue }}</dd>
        <dt class="schedule__metadata__key">{{ message.traffic }}</dt><dd class="schedule__metadata__value--traffic">{{ schedule.traffic }}</dd>
        <dt class="schedule__metadata__key">{{ message.date }}</dt><dd class="schedule__metadata__value--date">{{ schedule.date }}</dd>
    </dl>
    </section>
    <section class="page__module">
    <h2 class="section__title">{{ message.schedule }}</h2>
		<div class="schedule__table-container">
        <table class="schedule__table">
            <tbody>
                {{ speech_trs(schedule.morning, message.morning) }}
                {{ speech_trs(schedule.noon, message.noon) }}
                {{ speech_trs(schedule.afternoon, message.afternoon) }}
                {{ speech_trs(schedule.lightening_talks, message.lighting_talks) }}
                {{ speech_trs(schedule.cancel_talks, message.cancel_talks) }}
            </tbody>
        </table>
		</div>
    </section>
    <section class="page__module">
    <h2 class="section__title">{{ message.notices }}</h2>
    <div class="schedule__notices">{{ schedule.notices or "" }}</div>
    </section>
{% endif %}
